@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root {
    --bodyColor: #0d1a2d;
    --cardColor: #14253d;
    --white: #f8fbfb;
    --primaryColor: #06fefd;
    --secondaryColor: #6e86ac;

    --radius: 0.9375rem;
}

body {
    background-color: var(--bodyColor);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 350px;
}

.card {
    background-color: var(--cardColor);
    border-radius: var(--radius);
    padding: 1.25rem 1.375rem;
    margin: 0 1rem;
}

.card__img {
    position: relative;
    width: 100%;
}

.nft {
    display: block;
    width: 100%;
    border-radius: var(--radius);
}

.eye {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s;
}

.eye:hover {
    opacity: 1;
}

.eye > * {
    transform: translateY(20px);
    transition: transform 0.4s;
}

.eye:hover > * {
    transform: translateY(0);
}

.hover__green {
    background: #06fefe46;
    border-radius: var(--radius);
    cursor: pointer;
}

.text {
    text-align: left;
    margin-top: 1rem;
}

.text h2 {
    color: var(--white);
    font-size: 1.3rem;
}

.text h2:hover {
    color: var(--primaryColor);
    cursor: pointer;
}

.text p {
    color: var(--secondaryColor);
    line-height: 25px;
    padding: 1rem 0;
}

.card__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondaryColor);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.info {
    display: flex;
    align-items: center;
    color: var(--secondaryColor);
}

.info img {
    margin-right: 0.3125rem;
}

.info .price {
    color: var(--primaryColor);
}

.creator {
    display: flex;
    align-items: center;
}

.creator__img {
    width: 2rem;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.creator p {
    color: var(--secondaryColor);
    padding-left: 0.9375rem;
}

.creator span {
    color: var(--white);
}

.creator span:hover {
    color: var(--primaryColor);
    cursor: pointer;
}

.attribution {
    color: var(--secondaryColor);
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: var(--primaryColor);
}

@media screen and (max-width: 400px) {
    .card {
        margin: 0 2rem;
    }

    .text h2 {
        font-size: 1.2rem;
    }

    .text p {
        font-size: 0.9rem;
    }

    .info {
        font-size: 0.9rem;
    }

    .creator__img {
        width: 1.8125rem;
    }

    .creator p {
        font-size: 0.9rem;
    }

    .attribution {
        font-size: 0.9rem;
    }
}